$primary:#15DBA5;
$secondary:  #D8F3DC;
$danger: #ed574f;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

body, html {
 font-family: 'Montserrat', sans-serif;;
}